<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="A1" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-5p | %d{MM-dd-yyyy HH:mm:ss.SSS} | %c(%L) - %m%n" />
		</layout>
	</appender>
	<logger name="twitter.app" additivity="false">
		<level value="debug" />
		<appender-ref ref="A1" />
	</logger>
	<logger name="twitter4j">
		<level value="off" />
	</logger>
</log4j:configuration>